@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.hero {
  background: rgb(255, 132, 0);
  background: linear-gradient(90deg, rgba(255, 132, 0, 1) 0%, rgba(255, 209, 0, 1) 100%);
}

.btn.round {
  border-radius: 24px;
}

.btn-floating {
  border-radius: 50%;
}

.nama {
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
}

.ket {
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Serif", sans-serif;
}

.judul {
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: white;
}

.skill {
  background-color: #ff8400;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.progress-bar {
  background: rgb(255, 192, 0);
  background: linear-gradient(90deg, rgba(255, 192, 0, 1) 43%, rgba(255, 136, 0, 1) 100%);
}

.garis-judul {
  border: 3px solid white;
  border-radius: 5px;
  width: 200px;
}

.garis-judul2 {
  border: 3px solid #ff8400;
  border-radius: 5px;
  width: 250px;
}
